.loginbtn, .signupbtn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }
  
  .loginbtn {
    position: absolute;
    bottom: 780px;
    left: 20px;
  }
  
  .signupbtn {
    position: absolute;
    bottom: 850px;
    left: 20px;
  }