* {box-sizing: border-box;}


.slideshow-container {
  position: relative;
  margin: auto;
  width: 11%;
  top: 400px;
  right: 30px;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 992px) {
  .slideshowpic {
    max-width: 20%;
    position: absolute;
    top: 420px;
    right: 480px;
  }
}

@media screen and (max-width: 600px) {
  .slideshowpic {
    max-width: 40%;
  }
}