input[type='submit'], button, [aria-label]{
    cursor: pointer;
  }
  #spoiler{
    display: none;
  }

body  {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 10rem 0;
    background: url("../img/sky.png");
    background-attachment: scroll;
    background-size: cover;
  }
  
table {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    

}

.table-container {
  width: 80%;
  margin-left: 10%;
}

td{
  background-color: white;
}
